.env
db.sqlite3
media
myvenv
env
myenv/
myvenv/
staticfiles
*.pyc
venv
__pycache__/
authentication/__pycache__/
authentication/migrations/__pycache__/
home/__pycache__/
home/migrations/__pycache__/
rapid/__pycache__/
user/__pycache__/
user/migrations/__pycache__/
