.login-right{

    background-image: url('./../img/Section.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    background-position: center;
}
.login-container{
    height: 90vh;
    z-index: 0;
}
.login{

    width: 52%;
    max-width: 367px;
    margin: auto;
    margin-top: 66px;
    text-align: center;
}
.wellcome h2{
    font-weight: 900;
}
.wellcome p{
    color: gray;
}
.wellcome{
    margin-bottom: 30px;
}
.input-section{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.input-section input{
    text-align: left;
    padding-left: 15px;
    font-size: 16px !important;
    outline: none;
    border: solid 1px gray;
    border-radius: 24px;
    height: 45px;
    margin-left: 7px;
}
.input-section label{
    font-size: 15px !important;
}

.extra-fields{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.extra-fields input{
    outline: none;

}
.extra-fields a{
    color: black;
}

.submit-btn{
    width: 100%;

    margin-top: 30px;
    outline: none;
    border: solid transparent 1px;
    border-radius: 24px;
    height: 45px;
    margin-bottom: 20px;
    background-color: #e5ae3c;
}
.social-login{
    width: 100%;

    outline: none;
    border: solid rgb(197, 197, 197) 1px;
    border-radius: 24px;
    height: 45px;
    margin-bottom: 20px;
    background-color: transparent;
    font-size: 18px !important;
}
.g-recaptcha{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.register-now span{
    color: #6c757d;

}
.register-now a{
    color: black;
}

@media only screen and (max-width: 768px){
    .login{
        width: 100%;
    }
}