{% extends "./partials/base.html" %}

{% load static %}
{% block title %}
<title>Rapid Competitions</title>
{% endblock title %}

{% block links %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock links %}

{% block content %}

<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-12">
            <h1 class="p-5 h1">My Account</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5 mb-5">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-between" style="padding: 30px !important;">
                    <h2 class="card-title mb-4" style="font-weight: bold !important;">Login</h2>
                    <form action="/auth/login" method="POST" class="mb-auto" id="login-frm">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email" class="form-label" style="font-weight: 500 !important;">Email *</label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Enter your Email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label" style="font-weight: 500 !important;">Password *</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Enter your Password" required>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="remember_me">
                            <label class="form-check-label" for="remember_me" style="font-weight: 500 !important;">Remember me</label>
                        </div>
                    </form>
                    <div class="mt-auto">
                        <div class="row align-items-center justify-content-between">
                            <div class="col">
                                <button form="login-frm" type="submit" class="btn btn-warning rounded-pill px-5" style="font-weight: bold !important;">Login</button>
                            </div>
                            <div class="col-auto">
                                <a href="#" style="font-weight: 400 !important; text-decoration: none; font-size: 18px;">Lost your password?</a>
                            </div>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                            <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="color:red;">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body d-flex flex-column justify-content-between" style="padding: 30px !important;">
                    <h2 class="card-title mb-4" style="font-weight: bold !important;">Register</h2>
                    <form action="/auth/register" method="POST" class="mb-auto">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="first_name" class="form-label" style="font-weight: 500 !important;">First Name *</label>
                                    <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Enter your First Name" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="last_name" class="form-label"style="font-weight: 500 !important;">Last Name *</label>
                                    <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Enter your Last Name" required>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="dob" class="form-label" style="font-weight: 500 !important;">Date of Birth *</label>
                            <input type="date" name="dob" id="dob" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="register_email" class="form-label" style="font-weight: 500 !important;">Email *</label>
                            <input type="email" name="email" id="register_email" class="form-control" placeholder="Enter your Email" required>
                        </div>
                        <div class="mb-3">
                            <label for="register_password" class="form-label" style="font-weight: 500 !important;">Password *</label>
                            <input type="password" name="password" id="register_password" class="form-control" placeholder="Enter your Password" required>
                        </div>
                        <p style="font-size: 16px !important; font-weight: 400 !important;">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#" style="text-decoration: none;">privacy policy.</a></p>
                        <button type="submit" class="btn btn-warning rounded-pill px-5" style="font-weight: bold !important;">Register</button>
                    </form>
                    {% if messages %}
                        {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="color:red;">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
